<!DOCTYPE html>
<html>

<head>
    <title>Timesheet</title>
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/utils.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="margin: auto;" href="">TimeSheet</a>
    </nav>
    <form method="post" class="forgetpassword" action="/forgetpassword">
        <h1 style="color:white">Forget Password</h1>
        {{#if errorMsg}}
        <h5 class="error">{{errorMsg}}</h5>
        {{else}}
        <h5></h5>
        {{/if}}
        {{#if successMsg}}
        <h5 class="error" style="color: green;">{{successMsg}}</h5>
        {{else}}
        <h5></h5>
        {{/if}}
        <div class="inset">
            <p>
                <label for="username" style="color:white">Username</label>
                <input type="text" name="username" value={{username}}>
            </p>
            <p>
                <label for="email" style="color:white">Email</label>
                <input type="text" name="email" value={{email}}>
            </p>
            <p>
                <label for="password" style="color:white">Password</label>
                <input type="password" name="password" value={{password}}>
            </p>
            <p>
                <label for="confirmpassword" style="color:white">Confirm Password</label>
                <input type="password" name="confirmpassword" value={{confirmpassword}}>
            </p>
        </div>
        <p class="p-container" style="text-align: center;">
            <button type="submit" name="go" id="go" class="btn btn-danger btn-sm">Update Password</button>
        <br>
        <a href="/login" style="color: white;font-size:12px;">Go back to Login</a>
        </p>
    </form>

</body>

</html>